<div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="#">Goal-lotto</a>
            </div>
            <ul class="nav navbar-nav">
            <li class="active"><a href="#">Goals</a></li>
            <li class=""><a href="#">Manage Prizes</a></li>
            
            </ul>
            <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout </a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="container">
    <div class="row" style="margin-top: 25px;">
        <div class="col-sm-4 col-sm-offset-8">
            <li><h3>points <span class="label label-default">1250</span></h3></li>
        </div>
    </div>
    <div class="row" style="margin-top:50px;">
        <div class="col-sm-11">
            <div class="btn btn-block">
               <h5> 
                <span class="pull-left">Goal text goes here</span>
                <span class="pull-right">
                <span class="label label-default">1250 pts</span>
                <span class="btn btn-sm btn-primary">Complete</span>
                </span>
                </h5>
            </div>
        </div>
    </div>
</div>
